* {
    padding: 0;
}


body, html{
    margin:0 auto;
    width: 180vh;
    height: 100vh;
    background-color:#cc455a;
}
body{
    display: grid;
    grid-template-columns: 35% 20% 40%;
    grid-template-rows: 20% 7.2% auto 7.2%;
    grid-template-areas:
        "main header header"
        "main article nav"
        "main article aside"
        "footer footer footer"
}
blockquote {
    border:solid 1px;
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px;
    padding:10px;
    background-color:#ffd6d6
}

ul {
    border:solid 1px;
    display:flex;    
    flex-flow:row;
    text-align: center;
    background-color:#ffd6d6

}

li {
    display: inline;
    width: 100%;
}

header h1{
    border:solid black 1px;
    margin:32px;
    text-align:center;
    color:#c91e39;
    font-size:50px;
    background-color:#ffd1d1
}
header a{
    border:solid 1px;
    text-align:center;
    border-color:black;
    display:block;
    margin: 15px;
    background-color:#ffd1d1

}
p {margin:10px;
    text-align: justify;    
}
h3 {
    border:solid 1px;
    margin:10px;
    background-color:#ffd4d4
}
header {
     grid-area: header;
     border:solid black 1px;
     background-color: lightpink;
}
nav{grid-area:nav;
    border:solid black 1px;
    text-align:center;
    justify-content: center;
    background-color: lightpink;
}
main{grid-area:main;
     border:solid black 1px;
     background-color: lightpink;
}
aside{
    grid-area: aside;
    border:solid black 1px;
    background-color: lightpink;
}

article{
    grid-area: article;
    border:solid black 1px;
    background-color: lightpink;
}
footer{grid-area:footer; 
       border:solid black 1px;
       text-align:center;
       background-color: lightpink;
}
