.blar{ 
  display: flex;
  line-height: 20px;
  background-color: cyan;
  }

.grænn{

	display: flex;
	line-height: 20px;
	background-color: lightgreen;
	}

.rauður{

	display: flex;
	line-height: 20px;
	background-color: red;
	}

.gulur{

	display: flex;
	line-height: 20px;
	background-color: yellow;
	}
