.topnav ul{
background: black; 
border: 2px solid orange;
}
.topmenu {
display: block;
padding: 0;
margin: 0;
list-style: none; 
}
.topmenu li {
border: 2px solid orange;
border-bottom: 2px solid orange; 
padding: 0;
margin:0;
}
.topmenu a {
display: block;     
color: orange;
text-decoration: none;
text-align: center;
padding: .4em 1em; 
}
.topmenu a:hover,
.topmenu a:active,
.virkur {
color:black!important;
background-color: orange;
}

.header {
background: black;
grid-area: header; 
border: solid pink;
}
.footer {
color:lightgreen;
background: black; 
grid-area: footer;
border: solid lightgreen;
}
.midja {
background:black; 
grid-area: midja;
border: solid powderblue;
}
.vinstri {
color:gold;
background: black; 
border: solid gold;
grid-area: vinstri;
}
.haegri {
	border:solid gold;
background: black; 
grid-area: haegri;
color: gold;
}

.header, .footer, .midja, .vinstri, .haegri {
padding: 1em;
}

.header h1 {
border:solid pink;
color: #fff;
line-height: 1.2;
font-weight: normal;
color:pink;
}
.midja h2 {
border: 2px powderblue;
margin: .7em 0 .8em 0;
color:powderblue;
}
.midja h4 {
text-align: justify;
margin: .4em 0;
border: 2px powderblue;
color:powderblue;
}
.midja p {
text-align: justify;
border: 2px powderblue;
color:powderblue;
}
*, *:before, *:after {
  box-sizing: border-box; 
}
@media screen and (min-width: 600px){
  .content {
    display: grid;
    grid-area: content;
    grid-template-areas:
    "header"
    "topnav"
    "midja"
    "vinstri"
    "haegri"
    "footer"

    ;
  }
 @media screen and (min-width: 768px){
  .main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
    "topnav topnav"
    "vinstri midja"
    "haegri midja"
    "footer footer"
    ;
  }
}
@media screen and (min-width: 960px){
  .content {
    background-color:black;

   display: grid;
   grid-template-columns: 1fr 2fr 3fr;
   grid-template-areas: 
    "topnav topnav topnav"
    "header header header"
    "vinstri midja haegri"
    "vinstri midja haegri"
    "footer footer footer"
    ;
}

.line-height: 1.5em;
}
.content {
  grid-area: content;
  margin: 0;
}
