
body {
    margin: 0; 
    background: linear-gradient(#003c97, rgb(219, 37, 255), rgb(10, 0, 155));
}
header{
    line-height:50px;
}
header h1{
    margin-left:16px;
    color:rgb(249, 255, 159);
    font-family: 'Roboto', sans-serif;
}
main h1{
    margin:0px;
    font-family: 'Roboto', sans-serif;
}
header a{
    margin:16px;
    font-family: 'Roboto', sans-serif;
}
a:link{
    text-decoration: none;
    color:white;
}
a:visited{
    color:pink;
}
a:hover{
    background-color:rgb(116, 220, 255);
}
li{
    display:block;
}
section{
    padding: 16px;
}
.topnav{
    margin-left:243px;
}

.container {
    max-width: 60em; 
    margin: 0 auto; 
}
.col-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.col-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.col-4 {
    display: grid;
    grid-template-columns: repeat(4,1fr);

}
.gap-4 {
    grid-gap: 4em
}

.litur{
    background-image: linear-gradient(rgb(255, 133, 208), rgb(108, 82, 255));
}

.verkefni{
    color:moccasin;
    margin-left:364px;
    font-family: 'Roboto', sans-serif;
}
.hvitur{
    color:White;
}
blockquote {
  background-color: rgba(255, 111, 111, 0.3);
  padding:16px;
  margin-left:-1px;
  margin-right:-1px; 
}
.copy{
    text-align:center;
    color:white;
}
